apiVersion: v1
kind: Secret
metadata:
  labels:
    app: peertuberunner
    service: app
  name: "{{ peertube_runner_secret_name }}"
  namespace: "{{ namespace_name }}"
data:
  PEERTUBE_RUNNER_REGISTERED_INSTANCE_RUNNER_NAME: "{{ PEERTUBERUNNER_VAULT.PEERTUBE_RUNNER_REGISTERED_INSTANCE_RUNNER_NAME | b64encode }}"
  PEERTUBE_RUNNER_REGISTERED_INSTANCE_URL: "{{ PEERTUBERUNNER_VAULT.PEERTUBE_RUNNER_REGISTERED_INSTANCE_URL | b64encode }}"
  PEERTUBE_RUNNER_REGISTERED_INSTANCE_RUNNER_TOKEN: "{{ PEERTUBERUNNER_VAULT.PEERTUBE_RUNNER_REGISTERED_INSTANCE_RUNNER_TOKEN | b64encode }}"
